#containerDiv {
    display: flex;
    flex-wrap: wrap;
    width:30em;
    height:30em;
    margin: auto; 
    background-color: #dcdbf4
    /* centers element */
}

.square {
    flex: auto;
    border:  0.02px solid #ae9edbc5;
    box-sizing: border-box;
}