#home {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}

#containerDiv {
    display: flex;
    flex-wrap: wrap;
    width:30em;
    height:30em;
    margin: auto; 
    /* centers element */
}

#gridButton {
    width: 10em;
    height: 2.3em;
    margin: auto;
    background-color: #dcdbf4;
    border-radius: 0.6em;
    border: 1px #45327ac5;
    color: #45327ac5;
    font-size: 20px;
}

#gridButton:hover{
    background-color: #45327ac5;
    color: #dcdbf4;
    cursor:pointer;

}

.square {
    flex: auto;
    border:  0.2px solid #45327a75;
    box-sizing: border-box;
}